@primary-color: #2c9dff;
@primary-color-dark-1: darken(@primary-color, 10%);
@primary-color-dark-2: darken(@primary-color, 20%);
@primary-color-dark-3: darken(@primary-color, 30%);
@primary-color-dark-4: darken(@primary-color, 40%);
@primary-background: -webkit-linear-gradient(270deg, @primary-color 80%, @primary-color-dark-1 100%);

@btn-normal-white: #e3e0e0;
@btn-normal-white-active: lighten(@btn-normal-white, 20%);

@text-black: #000000;
@text-gray-80: #808080;
@text-gray-70: #707070;
