@import "../../share/style/base.less";

.headerContainer {
	position: absolute;
	right: 5px;
	font-size: 16px;
	font-weight: 500;
	.fontBtn {
		color: @btn-normal-white;
	}

	.fontBtn:active {
		color: @btn-normal-white-active;
	}

	.fontBtn:focus {
	 color: @btn-normal-white-active;
	}

	.fontBtn:hover {
	 color: @btn-normal-white-active;
	}

}
