@import "../../share/style/base.less";
.BuddyPanel{
	-webkit-app-region:no-drag;
	flex: 1 1 auto;
	font-family: SimHei;
	display: flex;
	flex-direction: column;
	.ant-tabs-nav {
		float: none;
		display: flex;
	}

	> .ant-tabs {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		.ant-tabs-content {
			flex: 0 1 auto;
			margin-top: -16px;
			.ant-tabs-tabpane{
				overflow-y:auto;
				transition: none !important;
				// 子选项卡字体减小
				.ant-tabs-tab {
					font-size: 13px;
				}
			}
		}
		/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
		.ant-tabs-tabpane::-webkit-scrollbar
		{
				width: 4px;
				height: 4px;
				background-color: transparent;
		}

		/*定义滚动条轨道 内阴影+圆角*/
		.ant-tabs-tabpane::-webkit-scrollbar-track
		{
				border-radius: 1px;
				background-color: inherit;
		}

		/*定义滑块 内阴影+圆角*/
		.ant-tabs-tabpane::-webkit-scrollbar-thumb
		{
				border-radius: 2px;
				background-color: @primary-color-fadeout-6;
		}
		.ant-tabs-tab {
			border-color: transparent;
			flex: 1 1 auto;
			font-size: 17px;
			line-height: 1;
			text-align: center;
			margin-right: 0;
		}

		#subTab{
			font-size:13px;
			line-height:1.5;
		}
	}
}
