@import "../../share/style/base.less";

#BuddyContainer{
	margin: 0;
	flex: 1 1 auto;
	background: rgba(255,255,255,0.8);;
	display: flex;
	flex-direction: column;
	.SearchBox{
		.ant-input{
			border: none;
			border-radius: 0;
			background: rgba(127,179,226,0.6);
		}
		input::-webkit-input-placeholder {
			font-size: 12px;
			color: #eff3f6;
			font-family: SimHei;
		}
		.ant-input-suffix{
			color: #eff3f6;
		}

	}
}
