@import "../../share/style/base.less";

.headerContainer {
	font-size: 13px;
	font-weight: 500;
	display: flex;
	flex: 0 1 auto;
	justify-content:space-between;
}

.title{
	color: @text-black;
	background: transparent;
	font-family: SimHei;
	font-weight: 500;
	font-size: 13px;
	padding: 6px;
	> img {
		vertical-align: sub;
		padding-right: 5px;
	}
}

.btnGroup {
	.fontBtn {
		color: @btn-normal-white;
		padding: 6px 6px 2px;
	}

	.fontBtn:active {
		color: @btn-normal-white-active;
	}

	.fontBtn:focus {
	 color: @btn-normal-white-active;
	}

	.fontBtn:hover {
	 color: @btn-normal-white-active;
	 background:  rgba(255, 255, 255, 0.2);
	}
	.fontBtn:nth-last-child(1):hover{
		color: @btn-normal-white-active;
		background:  rgba(255, 100, 100, 0.8);
	}
}
