@import "../../share/style/base.less";


.BuddyItem{
	ul {
		padding: 0 !important;
	}
	.MemberItem{
		img{
			vertical-align: middle;
			width: 20px;
			height: 20px;
		}
		.NameBox{
			text-align: left;
			vertical-align: middle;
			display: inline-block;
			margin-left: 10px;
		}
	}
}


.TreeNode:extend(.ListItem){
	font-size: 13px;
	li a {
		color: @text-black;
		opacity: 1;
	}
	li a:hover {
		background: inherit;
	}
	.BuddyItem ul.ant-tree-child-tree-open li:hover{
		background: #cbeaff;
	}
}
